{% load static %}
<!doctype html>
<html>
    <head>
        <title>Line Chart</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="{% static "js/chart/moment.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/chart/Chart.js" %}"></script>
        <script type="text/javascript" src="{% static "js/chart/chartjs-plugin-streaming.js" %}"></script>
    </head>

    <body>
        <canvas id="myChart"></canvas>
    <script type="text/javascript" src="{% static "js/chart/plot.js" %}"></script>
    </body>
</html>