{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" content="text/css" href="{% static "css/style.css" %}">
    <title>{% block title %}{% endblock %}</title>
    {% block script %}
    {% endblock %}
</head>
<body class="body-style">
	<div class="content-div">

            {% block content %}
            {% endblock %}

	</div>
	<div class="header-div">
		<h1>Welcome to the home page of the Utopia Project!!!</h1>
	</div>
	
	<div class="menu-div">
        <button class="menu-login-button"
                onclick="login()"
                onmouseenter="enterColor(this)"
                onmouseleave="leaveColor(this)"
                onmousedown="onClickColor(this)"
                onmouseup="notClickColor(this)">
            Login
        </button>

       {% if not request.user.is_authenticated %}
        <div id="login-div" class="modal">

            <form class="modal-content animate" action="{% url 'index' %}" method="post">

                <div class="imgcontainer">
                    <span   onclick="cancel()"
                            class="close"
                            title="Close Modal">
                        &times;
                    </span>
                </div>

                <div class="container">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <input class="login-button" type="submit" value="Login">
                </div>
                <div class="container"
                    <button type="button"
                            onclick="cancel()"
                            class="cancelbtn">
                        Cancel
                    </button>
                </div>
            </form>
            {% else %}
            <form action="{% url 'logout-view' %}" method="post">
                {% csrf_token %}
                <input class="login-button" type="submit" value="Logout {{ request.user }}">
            </form>
            {% endif %}
            <div class="message-center">
                {% if message %}
                {{ message }}
                {% endif %}
            </div>
        </div>
			
		<div class="menu-div-div">
			<ol>
				<li>
                    <a href="{% url "index" %}">
                        <input
                            type="button"
                            name="home-button"
                            value="Home"
                            class="menu-button"
                            onmouseenter="enterColor(this)"
                            onmouseleave="leaveColor(this)"
                            onmousedown="onClickColor(this)"
                            onmouseup="notClickColor(this)">
                    </a>
				</li>

                <a href="{% url "view-sensors" %}">
				<li>
					<input 
						type="button" 
						name="sensors-view-button" 
						value="View sensors" 
						class="menu-button" 
						onmouseenter="enterColor(this)" 
						onmouseleave="leaveColor(this)"
						onmousedown="onClickColor(this)"
						onmouseup="notClickColor(this)">
				</li>
                </a>
				<li>
					<input 
						type="button" 
						name="plot-data-button" 
						value="Plot data" 
						class="menu-button" 
						onmouseenter="enterColor(this)" 
						onmouseleave="leaveColor(this)"
						onmousedown="onClickColor(this)"
						onmouseup="notClickColor(this)">
				</li>
				<li>
					<input 
						type="button" 
						name="other-button" 
						value="Other" 
						class="menu-button" 
						onmouseenter="enterColor(this)" 
						onmouseleave="leaveColor(this)"
						onmousedown="onClickColor(this)"
						onmouseup="notClickColor(this)">
				</li>
			</ol>
		</div>
	</div>
	
	<footer class="footer-style">
        <h4>Today is {{ now }} | version: {{ version }}</h4>
	</footer>	
	
	<script type="text/javascript">
        var modal = document.getElementById('login-div');

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        function login() {
            document.getElementById('login-div').style.display='block';
        }

        function cancel() {
            document.getElementById('login-div').style.display='none'
        }

        function onClickColor(x) {
                x.style.backgroundColor = '#007849';
        }

        function notClickColor(x) {
                x.style.backgroundColor = '#ffce00';
        }

            function enterColor(x) {
                x.style.backgroundColor = '#0375b4';
        }

        function leaveColor(x) {
                x.style.backgroundColor = '#ffce00';
        }
	</script>
</body>
</html>